In [1]:
import pandas as pd

In [2]:
df = pd.read_json('../Datasets/train.json')
df

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [ ]:
pd.read_json("...link....")

#SQL data

In [3]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     --------------------------------------- 0.0/11.9 MB 495.5 kB/s eta 0:00:24
      --------------------------------------- 0.2/11.9 MB 2.0 MB/s eta 0:00:06
     -- ------------------------------------- 0.7/11.9 MB 4.1 MB/s eta 0:00:03
     ---- ----------------------------------- 1.2/11.9 MB 5.8 MB/s eta 0:00:02
     ----- ---------------------------------- 1.7/11.9 MB 6.8 MB/s eta 0:00:02
     ------- -------------------------------- 2.3/11.9 MB 7.6 MB/s eta 0:00:02
     --------- ------------------------------ 2.8/11.9 MB 8.1 MB/s eta 0:00:02
     ----------- ---------------------------- 3.3/11.9 MB 8.5 MB/s eta 0:00:02
     ------------- -------------------------- 3.9/11.9 MB 8.9 MB/s eta 0:00:01
     -------------- ------------------------- 4.4/11.9 MB 9.1 MB/s eta 0:00:01
     ---------------- ----------------------- 5.0/11.9 MB 9.4 MB/s eta 0:00:01
     ------------------ --------------------- 5.5/11.9 MB 9.5 MB/s eta 0:00:01
     -------------------- ------------------- 6.1/11.9 MB 9.7 MB/s eta 0:00:01
     ---------------------- ----------------- 6.6/11.9 MB 9.8 MB/s eta 0:00:01
     ----------------------- ---------------- 7.1/11.9 MB 10.1 MB/s eta 0:00:01
     ------------------------- -------------- 7.6/11.9 MB 10.2 MB/s eta 0:00:01
     --------------------------- ------------ 8.2/11.9 MB 10.3 MB/s eta 0:00:01
     ----------------------------- ---------- 8.7/11.9 MB 10.3 MB/s eta 0:00:01
     ------------------------------- -------- 9.3/11.9 MB 10.4 MB/s eta 0:00:01
     --------------------------------- ------ 9.8/11.9 MB 10.5 MB/s eta 0:00:01
     ---------------------------------- ---- 10.4/11.9 MB 11.5 MB/s eta 0:00:01
     ----------------------------------- --- 10.9/11.9 MB 11.9 MB/s eta 0:00:01
     ------------------------------------- - 11.5/11.9 MB 11.9 MB/s eta 0:00:01
     --------------------------------------  11.8/11.9 MB 11.7 MB/s eta 0:00:01
     --------------------------------------- 11.9/11.9 MB 11.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247960 sha256=d5899c9f369f9c6dec50e6ce8ce8e9d85cae0b3188fb1ee37b8a7eb4ccde2403
  Stored in directory: c:\users\kumud\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [4]:
import mysql.connector

In [ ]:
conn = mysql.connector.connect( host='localhost' , user='root', password='1234' ,database='world')

pd.read_sql_query("select* from city" , conn)

# some operaation same as csv