List -
sequence datatype
[]
mutable

In [ ]:
a= [1,2,3,4]
print(a)
print(len(a))
a.append(5) # added 5 in list
a.insert(3,"added at index 3") # added at index
a.remove(4) #index
a.append(a) # added whole list at one index
a.extend(a) # added as separate element in list
del a[1] #delete
b= a.pop(1) #index
a.remove(3) # remove elemet 

#in , not in 
if 2 in a:
    print("yes")

f = sorted(a)
d = sorted(a , reverse=True)
a.sort() #dtype should be same 

a=[2,3,4]
b=a
b.append(6) # 6 will also be added in a
print(a)

k = a.split(',') #by default space or tab

#extend or +

print(a.cound(1))

square = [i**2 for i in range(10)]
print(square)

[1, 2, 3, 4]
4
yes
[2, 3, 4, 6]

#TUPLE - immutable

In [7]:
t=()
t=(1,2,3)
t=(1,"one",2)
t=(12,(3,4),[5,6])

In [4]:
# only para ,it is type will be str
# add comma at last , for type to be tuple

a = ("hello")
print(type(a))

b = ("hello",)
print(type(b))

c = "hello",
print(type(c))

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [11]:
print(t)
print(t[1])
print(t[-1])
print(t[2][1])
print(t[1:4])
print(t[:-1])

(12, (3, 4), [5, 6])
(3, 4)
[5, 6]
6
((3, 4), [5, 6])
(12, (3, 4))

In [23]:
#changing tuple
#typeerror
t[2][1]=100
print(t)

g=c+b

v = (('s',)*4)
v

(12, (3, 4), [5, 100])

('s', 's', 's', 's')

In [ ]:
#can delete whole tuple
del(a)

In [29]:
#count
print(t.count(1))

#index - first index
print(t.index(12))

#memebership
print(4 in t)

#length
print(len(t))

#sort
x=(1,2,3,4)
newt = sorted(x)
print(newt)

print(min(x))
print(max(x))
print(sum(x))

0
0
False
3
[1, 2, 3, 4]
1
4
10

#sets - unordered , unique element

In [ ]:
d= set()
p = {1,2,3,4}
print(type(p))

<class 'set'>

In [31]:
s={1,2,3,4}
# set doesnt support indexing

In [ ]:
#add
s.add(6)
print(s)

#add multiple
s.update([5,6,1])
print(s)

#remove
s.discard(6)
print(s)

# remove 
s.remove(2)
print(s)

#pop - random
s.pop()
print(s)

s.clear() # everything

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
{1, 3, 4, 5}
{3, 4, 5}

In [37]:
#union
s1|s2
s1.union(s2)

#intersection
s1&s2
s1.intersection(s2)

#difference
s1-s2
s1.difference(s2)

#symmetric difference - all expect in both
s1^s2
s1.symmetric_difference(s2)

#find - check is subset
x.issubset(y)

NameError: name 's1' is not defined

# frozen set- set that cant be changed,immutable
# ronzen set can be used as key to dictionary

In [ ]:
s1=frozenset([1,2,3,4])
#not add
# include
# & ....

# dictionary - hashtable 
unordered collection
list and tuple is ordered
key value

In [ ]:
d={}
d=dict()
d={1:"name",2:"age"}

print(d[1])
#keyerror - if doesnt exist

print(d.get('address'))
# if doesnt exist - get none

#update or add
d[3]="new"

#delete
d.pop(3)
d.popitem()

del d[2]
d.clear()

m = d.copy()

#..........item , key , value......
d.items()
d.keys()
d.values()
dir(d)

name
None

'new'

# string - immutable

In [43]:
str ="hello world"
s="apple"

In [ ]:
s[3]="f" #immutable

TypeError: 'str' object does not support item assignment

In [ ]:
del s

In [ ]:
print('i' in s)

In [46]:
s.lower()
s.upper()
s.split()
x ='-'.join(['hello','world','to','me'])
print(x)
s.find("ll")
s.replace('o','k')

hello-world-to-me

'apple'